html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.hero {
  background: rgb(255, 255, 255) url('./images/header-shapes-bg.svg') no-repeat;
  background-size: cover;
  padding: 24px;
  border-bottom-left-radius: 60px;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.navbar ul,
.logo {
  flex: 1;
}

.mobile-menu ul li a {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar .logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #6070ff;
}

.navbar .menu {
  text-align: right;
  color: #6070ff;
}

.desktop-nav {
  display: none;
}

.mobile-menu {
  position: absolute;
  height: 750px;
  width: 100%;
  top: 0;
  bottom: 0;
  visibility: hidden;
  background: #6070ff;
  backdrop-filter: blur(7px);
  mix-blend-mode: multiply;
  overflow: auto;
}

.mobile-menu ul {
  margin-top: 60px;
}

.social-items li {
  margin-right: 15px;
  color: #505f79;
  transition: border-bottom 1s ease-in-out 0.2s;
}

.mobile-menu ul li {
  line-height: 64px;
}

.toggle-btn {
  height: 12px;
  width: 12px;
  font-size: 20px;
  float: right;
  margin-right: 38px;
  color: #fff;
  padding: 10px;
  background: #6070ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 50px;
  font-weight: bold;
}

.headline {
  margin-top: 80px;
  height: 500px;
  width: 100%;
}

.title {
  margin-bottom: 45px;
}

.title h1,
.title h2 {
  width: 327px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.description {
  width: 100%;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  margin: 0 auto;
}

.social {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.connect {
  width: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a30ff;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 50px;
  background: white;
}

.stacks ul li {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #1a30ff;
  text-align: center;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.social-items {
  display: flex;
  padding: 0;
}

.social-items li:hover {
  border-bottom: 1px solid rgb(96, 112, 255);
  transform: scale(1.5);
}

.card-work span,
img {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.social img {
  width: 25px;
  height: 25px;
}

/* work */

.card-item-1 {
  grid-area: card-1;
}

.card-item-2 {
  grid-area: card-2;
}

.card-item-3 {
  grid-area: card-3;
}

.card-item-4 {
  grid-area: card-4;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'card-1 card-1 card-1 card-1'
    'card-2 card-2 card-2 card-2'
    'card-3 card-3 card-3 card-3'
    'card-4 card-4 card-4 card-4';
  grid-gap: 1rem;
  padding-top: 30px;
}

.card-item-5,
.card-item-6,
.card-item-7,
.card-item-8 {
  display: none;
}

.card {
  min-width: 327px;
  min-height: 580px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 60px;
  background: #fff;
}

.card-work {
  max-width: 90%;
  padding-top: 20px;
  margin: 0 auto;
}

.card-work h2 {
  width: 200px;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  margin: 0;
}

.work-text {
  width: 295px;
  height: 76px;
}

.work-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.stacks {
  margin-top: 10px;
}

.stacks ul {
  width: 203px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
  padding: 0;
}

.card-work > img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.work-btn {
  width: 124px;
  height: 48px;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-btn:hover {
  color: #fff;
  background: #6070ff;
}

.work-btn:active {
  background: #2230d2;
  color: white;
}

.work-btn:disabled {
  background: white;
  color: #5e6c84;
}

.about-wrapper {
  width: 100%;
  background: #fff;
  border-top-right-radius: 60px;
  border: 0.1px solid #dfe1e6;
  margin-top: 90px;
}

.about {
  width: 320px;
  height: 101px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.about h2,
.about span {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.about-desc {
  width: 100%;
  height: 144px;
  font-style: normal;
  font-weight: normal;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  padding: 5px;
}

.about-connect {
  width: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a30ff;
  margin-top: 20px;
}

.resumeBtn {
  width: 162px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.resumeBtn:hover {
  background: #6070ff;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  transform: translateY(9px);
  cursor: pointer;
}

.resumeBtn:active {
  background: #2230d2;
  color: white;
}

.resumeBtn:disabled {
  background: white;
  color: #5e6c84;
}

/* Language */

.languages {
  margin-top: 30px;
  background: #fff;
  padding-bottom: 40px;
}

.language {
  border-bottom: none !important;
}

.language-wrapper {
  padding: 0;
}

.language-wrapper .tech {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 34px;
}

.items > span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.items {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.items:hover {
  border: 1px solid dodgerblue;
}

.form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background: #1a30ff url('./images/contact-form-shapes-mobile.svg') no-repeat;
  background-size: cover;
  padding: 35px;
  border-radius: 50px 0 0 0;
  margin: 0 auto;
}

.form-section h2 {
  height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 120px;
  margin-bottom: 5px;
  margin-right: 30px;
}

.form-class label {
  color: white;
  margin-bottom: 5px;
  padding-left: 25px;
}

.form-text p {
  width: 327px;
  height: 102px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 12px;
  margin-bottom: 87px;
}

.form-class {
  width: 350px;
  display: flex;
  flex-direction: column;
}

input {
  width: 305px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.form-class #mail-content {
  width: 305px;
  height: 114px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  color: #091e42;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 10px;
}

::placeholder {
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#mail-content::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-btn {
  width: 162px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 45px;
}

.contact-btn:hover {
  background: #6070ff;
  color: white;
  cursor: pointer;
}

.contact-btn:active {
  background: #2230d2;
  color: white;
}

.contact-btn:disabled {
  background: white;
  color: #5e6c84;
}

@media only screen and (min-width: 900px) {
  body {
    background: #e5e5e5;
    max-width: 100%;
  }

  .navbar {
    width: 100%;
    padding: 0;
    display: flex;
    padding-right: 155px;
    padding-left: 155px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar ul,
  .logo {
    margin: 0;
  }

  .navbar ul {
    display: flex;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navbar ul a {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 0.3rem;
    border-radius: 4px;
    text-align: center;
    transition: all 0.8s ease-out;
  }

  .navbar ul a:hover,
  .navbar ul a:focus {
    background-color: #6070ff;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }

  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero {
    width: 100%;
    height: 700px;
    background: rgb(255, 255, 255) url('./images/Header bg.svg') no-repeat;
    background-size: contain;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 200px;
    margin: 0;
    margin-top: 80px;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 200px;
    margin: 0;
  }

  .title h1,
  .title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    width: 100%;
    text-align: left;
  }

  .description {
    width: 75%;
    height: 98px;
    margin: 0;
  }

  .connect {
    width: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1a30ff;
    margin-top: 0;
  }

  .social {
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 0;
  }

  .social img {
    width: 20px;
    height: 20px;
  }

  .about-wrapper {
    width: 100%;
    height: 668px;
    padding: 90px;
  }

  .headline-about {
    display: flex;
  }

  .about-flex {
    overflow: hidden;
    padding: 30px;
  }

  .social-about {
    margin: 0;
  }

  .languages {
    margin: 0;
  }

  .language-wrapper {
    padding: 30px;
  }

  .language-wrapper .tech {
    width: 582px;
  }

  .items-container {
    display: flex;
    padding: 0;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    margin: 0 12px;
    padding: 10px;
    margin-left: 0;
  }

  .items > span {
    margin-top: 16px;
  }

  .about {
    margin: 0;
  }

  .about h2,
  .about span {
    margin-left: 0;
  }

  .about-desc {
    width: 447px;
    height: 114px;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 15px;
  }

  .form-section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background:
      #1a30ff url('./images/contact form background shapes.svg')
      no-repeat;
    background-size: contain;
  }

  .form-class {
    width: 460px;
  }

  .form-class label {
    padding-left: 5px;
  }

  .form-text p {
    width: 550px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 447px;
    height: 48px;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin-bottom: 27px;
  }

  .form-class #mail-content {
    width: 447px;
    height: 170px;
  }

  .contact-btn {
    margin: 0 auto;
  }

  .bar {
    display: none;
  }

  .card-item-5 {
    grid-area: card-5;
  }

  .card-item-6 {
    grid-area: card-6;
  }

  .card-item-7 {
    grid-area: card-7;
  }

  .card-item-8 {
    grid-area: card-8;
  }

  .work {
    background: #e5e5e5;
    margin: 0;
    padding: 0;
  }

  .work-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 900px;
    min-height: 360px;
  }

  .card:hover {
    box-shadow:
      rgba(0, 0, 0, 0.25) 0 54px 55px,
      rgba(0, 0, 0, 0.12) 0 -12px 30px,
      rgba(0, 0, 0, 0.12) 0 4px 6px,
      rgba(0, 0, 0, 0.17) 0 12px 13px,
      rgba(0, 0, 0, 0.09) 0 -3px 5px;
    transition:
      box-shadow 200ms ease-in-out,
      transform 500ms ease-in-out,
      width 500ms ease-in-out,
      height 500ms ease-in-out;
    transform: translateY(-8px);
    width: 70%;
    height: 200px;
  }

  .card > img {
    width: 50%;
    border-radius: 8px;
    padding-left: 10px;
  }

  .scale {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .card .work-details {
    width: 50%;
    padding-left: 20px;
  }

  .card h2 {
    width: 496px;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .work-text {
    width: 410px;
    height: 53px;
  }

  .stacks ul {
    height: 30px;
    background: white;
    display: flex;
    margin-right: 10px;
    align-items: center;
    padding: 0;
  }

  .four-stacks ul {
    width: 300px;
    justify-content: space-between;
    color: red;
  }

  .card-item-7,
  .card-item-8 {
    display: flex;
    flex-direction: row-reverse;
  }

  .work-btn {
    margin-top: 20px;
  }

  /* mobile screen */
  .card-item-1,
  .card-item-2,
  .card-item-3,
  .card-item-4 {
    display: none;
  }

  .card-item-7,
  .card-item-6,
  .card-item-8,
  .card-item-5 {
    display: flex;
    justify-content: center;
  }
}
