html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 480px;
  scrolling: auto;
  /* overflow: hidden; */
}

.hero {
  width: 100%;
  background: rgb(255, 255, 255) url("./images/header-shapes-bg.svg") no-repeat;
  background-size: cover;
  padding: 22px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar ul,
.logo {
  flex: 1;
}

.navbar .logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.navbar .menu {
  text-align: right;
  color: #6070ff;
}

.headline {
  margin-top: 80px;
  height: 500px;
}

.title {
  margin-bottom: 45px;
}

.title h1,
.title h2 {
  width: 327px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.description p {
  width: 327px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  margin: 0 auto;
}

.social {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.connectBtn {
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 50px;
  background: white;
}

.connectBtn:hover {
  background: #6070ff;
  color: white;
}

.social-items {
  display: flex;
  padding: 0;
}

.social-items li {
  margin-right: 15px;
}

.social img {
  width: 25px;
  height: 25px;
}

/* work */
.work {
  background: #e5e5e5;
}

.card-item-1 {
  grid-area: card-1;
}

.card-item-2 {
  grid-area: card-2;
}

.card-item-3 {
  grid-area: card-3;
}

.card-item-4 {
  grid-area: card-4;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card-1 card-1 card-1 card-1"
    "card-2 card-2 card-2 card-2"
    "card-3 card-3 card-3 card-3"
    "card-4 card-4 card-4 card-4";
  grid-gap: 1rem;
  padding-bottom: 90px;
}

.card {
  width: 327px;
  min-height: 580px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 60px;
  background: #ffffff;
}

.card-work {
  width: 90%;
  padding-top: 20px;
  margin: 0 auto;
}

.card-work h2 {
  width: 200px;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  margin: 0;
}

.work-text {
  width: 295px;
  height: 76px;
}

.work-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.stacks {
  margin-top: 10px;
}

.stacks ul {
  width: 203px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
  padding: 0;
}

.stacks ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  text-align: center;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.card-work span,
img {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.card-work > img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.work-btn {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
}

.work-btn a {
  width: 100px;
  height: 24px;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 0px 10px;
}

.about {
  width: 320px;
  height: 101px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.about h2,
.about span {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
}

.about-desc {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: normal;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  /* padding-top: 15px; */
  margin: 0 auto;
}

.about-btn {
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 10px;
}

.about-btn:hover {
  background: #6070ff;
  color: white;
}

.resumeBtn {
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0px;
  background: white;
}

.resumeBtn a {
  width: 138px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.languages {
  margin-top: 50px;
}

.language-wrapper {
  margin-bottom: 50px;
}

.language-wrapper li {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border-bottom: 1px solid #dfe1e6;
  height: 60px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
